/* css */
*{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color:#252B42
}

.container{
    margin: auto;
    max-width: 1425px;
}

.container-header{
    max-width: 1300px;
}

nav{
    height: 91px;
    background-color:#FFF5F0;
    display: flex;
    align-items: center;
    gap:200px;
    justify-content: center;
}

li{
    list-style-type: none;
    display: inline;
    
}

.menu-contents{
    display: flex;
    color:#737373;
    align-items: center;

}

.btn-section{
    display:flex;
    align-items: center;
}

.button{
    color:white;
    border-radius:5px;
    font-weight: 700;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:15px;
    padding:15px 40px;
    background-color: #1BA0AB;
}

ul{
    display: flex;
    gap:30px;
}

.menu{
    display: flex;
    gap:70px;
}

.hero-page-discription{
    display: flex;
    align-items: center;
    gap:180px;
    padding-left: 100px;
}

.heropage-content{
    max-width: 455px;
    display: grid;
    gap:15px;

}

.image{
    padding-top: 5px;
}

.learnmore{
    border-radius: 5px;
    background-color:transparent;
    color: #1BA0AB;
    font-size: 14px;
    border: 1px solid #1BA0AB;
    padding: 15px 40px;
}    

.gap{
    gap:10px;
}

h1{
    min-width: 100px;
}

.activities{
    display: flex;
    justify-content: center;
}

.activity-section-container{
    display: flex;
    align-items: center;
    padding:160px 0px;

}

.txt-bold{
    font-size:52px;
}

.activity-section-content{
    display: flex;
    align-items: center;
    gap:25px;
}

.activity-section{  
    padding:0px 160px 0px 0px;
    display: grid;
    gap:40px;
}

.cards{
    height: 292px;
    width: 508px;
    display:flex;
    gap:24px;
}

.rectangle{
    background-color:#E74040;
    height: 7px;
    width: 94px;
}

.sm{
    font-size:40px;
}

.txt-sm{
    font-weight: 400;
    max-width: 380px;
    font-size: 14px;
    color:#737373;
}

.booknow{
    width: 249px;
    box-shadow: 0px 13px 19px 0px #00000012;
    border-radius: 10px;
    
}

.queries{
    width: 249px;
    box-shadow: 0px 13px 19px 0px #00000012;


}

.card{
    padding-top:35px;
    padding-right:40px;
    padding-bottom:35px;
    padding-left:40px;
    display: grid;
    gap: 25px;
 
}

.sml{
    height: 2px;
    width: 50px;     
}

.txt-sm{
    color:#737373;
    font-weight:400;
    font-size: 14px;
}

.queries{
    border-radius: 10px;
}

.linking{
    color:#252B42;
}

.expertsection{
    display:flex;
    justify-content: center;
    align-items: center;
}

.semisection{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}

.expert-section{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}


.experts{
    display: flex;
    align-items: center;
    justify-content: right;
}

.expert-section-contents{
    max-width: 381px;
    display: grid;
    gap: 38px;
}


.nobg{
    font-size: 24px;
    color: #1BA0AB;
}

.refer-section{
    display: flex;
    justify-content: center;
}

.refer-section-contents{
    display: grid;
    gap: 96px;
    padding:160px 0px;
}

.refer-section-content{
    max-width: 691px;
    margin-top:160px;
    display: grid;
    gap:20px;
}

.refer-cards{
    display: flex;
    gap:100px;
}

.img-card{

    display:flex;
    position: relative;
}


.imgtext1{
    background-color: #fff;
    display: grid;
    margin-left: 25px;
    gap:10px;
}


.rating{
    background-color: #26335D;
    padding:5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.firstrow{
    height:26px;
    display:flex;
    text-align: center;
    justify-content:space-between;
    padding-top: 25px;
    gap:10px;
}

.pain{
    font-size: 14px;
    font-weight: 700;
    color:#1BA0AB;
}

.painless{
    display: flex;
    align-items: center;
}


.examination{
    font-size: 16px;
}

.width{
    font-weight: 400;
    font-size: 14px;
    color:#737373;
    max-width: 232px;
}

.icon-download{
    display:flex;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 16px;
    color: #737373;
}


.sales{
    font-size: 12px;
    color:#737373;
}

.prices{
    display:flex;
    align-items: center;
    gap:5px;
    
}

.greydollor{
    color:#BDBDBD;
}

.yellowdollor{
    color:#F69B25;
}

.frame{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0px;
    gap:5px;
}

.progress{
    background-color:burlywood;
}

.material-symbols-outlined{
    font-size: 16px;
    font-weight: 400;
    color: #1BA0AB;
}

.hours{
    font-size: 12px;
    font-weight: 400;
    color:#737373;
}

.calender{
    background-color: #fff;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.lesson{
    gap:5px;
    display:flex;
    justify-content: center;
    align-items: center;

}   

.lessonno{
    font-size: 12px;
    font-weight: 400;
    color:#737373;
}

.progress{
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.prog{
    font-size: 12px;
    font-weight: 400;
    color:#737373;
}

.learnbutton{
    height:44px;
    width:141.14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1BA0AB;
    border-radius: 37px;
    background: transparent;
    border: 1px solid #1BA0AB;
}

.ratingnum{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.rating span{
    font-size: 16px;
}

.sale-label{
    height: 24px;
    background-color:#E74040;
    position: absolute;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #0000001A;
    left:10px;
    top:10px;

}
.sale{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 14px;
    padding:10px 10px;
}

.icon{
    display: flex;
    position: absolute;
    gap:10px;
    bottom: 25px;
    left: 35px;
    justify-content: center;
}

.like{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.cart span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.txt-sm-color{
    font-size: 14px;
    color:#1BA0AB;
}

.txt-sm{
    font-size: 14px;
    color:#737373;
    font-weight: 400;
}

.impression-people{
    display: flex;
    justify-content: center;
}

.impression-content{
    max-width: 691px;
    margin-top: 160px;
    gap:10px;
    display: flex;
    flex-direction: column;
}

.impression-contents{
    margin-top: 120px;
    display: flex;
    gap: 34px;
}

.person1{
    height: 378px;
    width: 508px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.person-image{
    border-radius: 50%;
    margin-top: 20px;
}

.about{
    font-size: 14px;
    font-weight: 400;
    color:#737373;
    max-width: 288px;
    text-align: center;
}

.star{
    height: 23px;
    width: 131px;
    display: flex;
    justify-content: center;
}

.star5 span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.miles{
    font-size: 16px;
}
.design{
    font-size: 14px;
    color:#737373;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.test{
    font-size: 14px;
    color:#1BA0AB;
}

.impression{
    font-size: 40px;

}

/* .pro{
    font-size: 14px;
    color:#737373;
    font-weight: 400;
} */

.team-page{
    display:flex;
    justify-content: center ;
    padding:112px 0px;
}

.team-page-contents{
    gap:112px;
    display: flex;
    flex-direction: column;
}

.teamdetails{
    margin-top:116px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.tm{
    font-size: 14px;
    color:#1BA0AB;
}

.solution{
    font-size: 14px;
    color:#737373;
    font-weight: 400;
    max-width: 393px;

}

.team-members{
    gap:32px;
    display: flex;
    justify-content: center;
}

.member{
    padding-bottom:20px;
    box-shadow: 0px 13px 19px 0px #00000012;
    border-radius: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;

}

.membername{
    font-size: 16px;
    padding-top: 30px;
}

.profession{
    color:#737373;
    font-size: 12px;
    font-weight: 400;
}

.socialmedia{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fa-facebook:before{
    font-size: 23px;
    color:#1BA0AB;
}
.human{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.fa-instagram:before{
    font-size: 23px;
    color:#1BA0AB;
}
.fa-twitter:before{
    font-size: 23px;
    color:#1BA0AB;
}

.join{
    background-color:#FFF5F0;
    display: flex;
    justify-content: center;
    padding-bottom:160px;
}

.footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-bottom:160px;
}

.footer-txt{
    margin-top:160px;
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align: center;
}
.news{
    font-size: 14px;
    color:#1BA0AB;
}

.solving{
    font-size: 14px;
    font-weight: 400;
    color:#737373;
    max-width: 469px;
    align-self: center;
}

.input-txt{
    width: 571px;
    background-color:#F9F9F9;
    border: 1px solid #E6E6E6;
    outline:none;
    padding-left:20px;
    font-size: 15px;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.subscribe{
    width: 117px;
    background-color: #1BA0AB;
    border:none;
    font-size: 14px;
    color:#FFFFFF;
    font-weight: 400;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

::placeholder{
    /* padding:5px; */
    color:#737373;
    font-size: 14px;
    font-weight: 400;
    
}

.information{
    height:58px;
    display: flex;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-contents{
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
}

.footer-inside{
    gap:60px;
    display: flex;
}

.firstcolumn{
    display: grid;
    gap: 20px;
}


.secondcolumn{
    display: grid;
    gap: 20px;
}

.thirdcolumn{
    display: grid;
    gap: 20px;
}

.forthcolumn{
    display: grid;
    gap: 20px;

}

.fifthcolumn{
    display: grid;
    gap: 20px;

}

.company{
    font-size: 16px;
}

.compinfo{
    font-size: 14px;
    text-decoration: none;
    color:#737373;
}

.call{
    font-size: 14px;
    text-decoration: none;
    color:#737373;
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-phone:before{
    color:#1BA0AB;
    font-size: 22.81px; 
}

.location{
    font-size: 14px;
    text-decoration: none;
    color:#737373;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 321px;
    
}

.fa-location-dot:before{
    color:#1BA0AB;
    font-size: 22.81px;
}

.mail{
    font-size: 14px;
    text-decoration: none;
    color:#737373;
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-envelope:before{
    color:#1BA0AB;
    font-size: 22.81px;
}

.copyright{
    background-color: #FAFAFA;  
    display: flex;
    justify-content: center;
}

.copyright-section{
    display: flex;
    align-items: center;
    padding: 25px 0px 25px 0px;
}

.copyright-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:570px;
}

.copyright-owner{
    color:#737373;
    font-size: 14px;
}

.social{
    display: flex;
    justify-content: center;
}

/* .social-media{
    display: flex;
    justify-content: center;
    gap:20px;

}*/
.all{
    background-color:#FFF5F0;
}

.footer-bg{
    background-color: #FFF5F0;
}

.color3{
    background-color: #FAFAFA;
}

.background{
    background-color: #FFF5F0;
}
.fa-arrow-right:before{
    color:white;
}
.more{
    border: none;
    padding-left: 0px;
}

.border{
    padding:15px 25px;
}

.borderless{
    background: none;
}

.nobg{
    border-radius: 5px;
    background-color:transparent;
    color: #1BA0AB;
    font-size: 14px;
    border: 1px solid #1BA0AB;
    padding: 15px 40px;
}