/* css */
*{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
}
:root{
    --primary-color:#1BA0AB;
    --secondary-color:#252B42;
    --box-shadow: 0px 13px 19px 0px #00000012;
    --primary-bg-color:#FFF5F0;
    --footer-bg-color:#FAFAFA;
}
h1,h2,h3,h4,h5,h6,p{
    margin-block-start:0px;
    margin-block-end: 0px;
    padding:0px;

}
.menu-data{
    position: relative;
    display: flex; 
    /* align-items: center; */
}
.menu-icon{
    display: none;
}

h1,h2,h3,h4,h5,h6{
    color:var(--secondary-color);
}
.container{
    margin: auto;
    max-width: 1080px;
}

.container-header{
    max-width: 1300px;
}

nav{
    background-color:var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li{
    list-style-type: none;
    display: inline;
    
}

.menu-contents{
    display: flex;
    /* color:#737373; */
    align-items: center;
    padding:15px 15px;
}

.menu a:hover{
    background-color: var(--primary-color);
    color:white;
    transition: 0.3s; 
}
.hover:hover ~ .dropdown{
    display: flex;
}
#sub-menu-toggle{
    display: none;

}
.hover:hover + .fa-caret-down{
    transform: rotate(-180deg);
}
.img-no-width{
    max-width: none;
}

.btn-section{
    display:flex;
    align-items: center;
}

.button{
    color:white;
    border-radius:5px;
    font-weight: 700;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:15px;
    padding:15px 40px;
    background-color: var(--primary-color);
}

ul{
    display: flex;
}
img{
    max-width: 100%;
}

.menu{
    display: flex;
    gap:70px;
    align-items:center;
}

.hero-page-discription{
    display: flex;
    align-items: center;
    /* gap:180px; */
    /* padding-left: 100px; */
    justify-content: space-between;
}

.heropage-content{
    max-width: 455px;
    display: flex;
    gap: 30px;
    flex-direction: column;

}
/* .center{
    max-width: 673px;
    text-align: center;
} */

.image{
    padding-top: 5px;
}

.link{
    border-radius: 5px;
    background-color:transparent;
    color: var(--primary-color);
    font-size: 14px;
    border: 1px solid var(--primary-color);
    border: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
}
   

.gap{
    gap:10px;
}

h1{
    min-width: 100px;
}

.activities{
    display: flex;
    justify-content: center;
}

/* .section-data{
    /* display: flex;
    align-items: center;
    padding:160px 0px;

*/

.txt-bold{
    font-size:52px;
}

.page-section-content{
    display: flex;
    align-items: center;
    gap:25px;
    justify-content: space-between;
}

.section-content{  
    /* padding:0px 160px 0px 0px; */
    display: flex;
    row-gap:35px;
    flex-direction: column;
}

.cards{
    display:grid;
    gap:24px;
    grid-template-columns: repeat(2, 1fr);
}

.rectangle{
    background-color:#E74040;
    height: 7px;
    width: 94px;
    margin:0;
    border:none;
}

.sm{
    font-size:40px;
}

.txt-sm{
    font-weight: 400;
    max-width: 380px;
    font-size: 14px;
    color:#737373;
}

.booking{
    width: 249px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    
}

.queries{
    width: 249px;
    box-shadow: var(--box-shadow);


}

.card{
    padding-top:35px;
    padding-right:40px;
    padding-bottom:35px;
    padding-left:40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
 
}

.sml{
    height: 2px;
    width: 50px;     
}

.txt-sm{
    color:#737373;
    font-weight:400;
    font-size: 14px;
}

.queries{
    border-radius: 10px;
}

.linking{
    color:var(--secondary-color);
}

.expertsection{
    display:flex;
    justify-content: center;
    align-items: center;
}

.semisection{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}

.page-section{
    display: flex;
    justify-content: space-between;
    width:100%;
}


.experts{
    display: flex;
    align-items: center;
    justify-content: right;
}

.padding{
    max-width: 381px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-right:0px;
}


.nobg{
    font-size: 24px;
    color: var(--primary-color);
}

.refer-section{
    display: flex;
    justify-content: center;
}

.section-data-content{
    display: grid;
    gap: 96px;
}

.section-heading{
    max-width: 691px;
    /* margin-top:160px; */
    display: grid;
    gap:20px;
}

.reference-cards{
    display: flex;
    justify-content: space-between;
}

.img-card{

    display:flex;
    column-gap: 25px;
    /* position: relative; */
}


.imgdata{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap:19px;
}


.rating{
    background-color: #26335D;
    padding:5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.firstrow{
    display:flex;
    justify-content:space-between;
    padding-top: 10px;
    align-items: center;
}

.pain{
    font-size: 14px;
    font-weight: 700;
    color:var(--primary-color);
}

.clr-txt {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 148px;
}

.bld-txt{
    font-size: 16px;
    max-width: 169px;
    overflow: hidden;
}


.width{
    font-weight: 400;
    font-size: 14px;
    color:#737373;
    max-width: 232px;
}

.icon-download{
    display:flex;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 16px;
    color: #737373;
}


.sales{
    font-size: 12px;
    color:#737373;
    overflow: hidden;
    max-width: 100px;
}

.prices{
    display:flex;
    align-items: center;
    gap:5px;
    
}

.greydollor{
    color:#BDBDBD;
}

.yellowdollor{
    color:#F69B25;
    max-width: 100px;
    overflow: hidden;
}

.frame{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0px;
    gap:5px;
}

.progress{
    background-color:burlywood;
}

.material-symbols-outlined{
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

.sm-txt{
    font-size: 12px;
    font-weight: 400;
    color:#737373;
    max-width: 66px;
    overflow: hidden;
}

.datas{
    background-color: #fff;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.datas{
    gap:5px;
    display:flex;
    justify-content: center;
    align-items: center;

}   

.lessonno{
    font-size: 12px;
    font-weight: 400;
    color:#737373;
}

.datas{
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.prog{
    font-size: 12px;
    font-weight: 400;
    color:#737373;
}

.btn-curve{
    max-width: 141.14px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: var(--primary-color);
    border-radius: 37px;
    background: transparent;
    border: 1px solid var(--primary-color);
    padding: 9px;
    gap:0px;
}
.wrap{
    max-width: 30px;
}
.btn-curve span{
    color: var(--primary-color);
}

.ratingnum{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.rating span{
    font-size: 16px;
    color:#FFCE31;
}

.sale-label{
    background-color:#E74040;
    position: absolute;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #0000001A;
    left:10px;
    top:10px;

}
.sale {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 10px;
    max-width: 171px;
}

.icon{
    display: flex;
    position: absolute;
    gap:10px;
    bottom:45px;
    width:100%;
    justify-content: center;
}

.icons_btn{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_btn{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_btn{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_btn span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.cart span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.txt-sm-color{
    font-size: 14px;
    color:var(--primary-color);
}

.txt-sm{
    font-size: 14px;
    color:#737373;
    font-weight: 400;
}

.impression-people{
    display: flex;
    justify-content: center;
}

.section-heading{
    max-width: 691px;
    /* margin-top: 160px; */
    gap:15px;
    display: flex;
    flex-direction: column;
}

.container-data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 34px;
    /* justify-content: space-around; */
}

.employee{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.person-image{
    border-radius: 50%;
    margin-top: 20px;
}

.about{
    font-size: 14px;
    font-weight: 400;
    color:#737373;
    max-width: 288px;
    text-align: center;
}

.star{
    height: 23px;
    width: 131px;
    display: flex;
    justify-content: center;
}

.star-nobg span{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
   color: #F3CD03;
}

.miles{
    font-size: 16px;
}
.design{
    font-size: 14px;
    color:#737373;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.test{
    font-size: 14px;
    color:var(--primary-color);
}

.impression{
    font-size: 40px;

}

/* .pro{
    font-size: 14px;
    color:#737373;
    font-weight: 400;
} */

.page{
    display:flex;
    /* justify-content: center ; */
    /* padding:112px 0px; */
}

.page-contents{
    gap:112px;
    display: flex;
    flex-direction: column;
}

.section-heading{
    /* margin-top:116px; */
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.tm{
    font-size: 14px;
    color:var(--primary-color);
}

.solution{
    font-size: 14px;
    color:#737373;
    font-weight: 400;
    max-width: 393px;

}

.member-card{
    gap:32px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}

.member{
    padding-bottom:20px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;

}

.membername{
    font-size: 16px;
    /* padding-top: 30px; */
}

.profession{
    color:#737373;
    font-size: 12px;
    font-weight: 400;
}

.socialmedia{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fa-facebook:before{
    font-size: 23px;
    color:var(--primary-color);
}
.members{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}

.fa-instagram:before{
    font-size: 23px;
    color:var(--primary-color);
}
.fa-twitter:before{
    font-size: 23px;
    color:var(--primary-color);
}

.join{
    background-color:var(--primary-bg-color);
    display: flex;
    justify-content: center;
    padding-bottom:160px;
}

.footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-bottom:160px;
}

.footer-txt{
    margin-top:160px;
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align: center;
}
.news{
    font-size: 14px;
    color:var(--primary-color);
}

.solving{
    font-size: 14px;
    font-weight: 400;
    color:#737373;
    max-width: 355px;
    align-self: center;
}

.input-txt{
    width: 100% ;
    background-color:#F9F9F9;
    border: 1px solid #E6E6E6;
    outline:none;
    padding:20px;
    font-size: 15px;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.subscribe{
    padding:20px;
    background-color: var(--primary-color);
    border:none;
    font-size: 14px;
    color:#FFFFFF;
    font-weight: 400;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

::placeholder{
    color:#737373;
    font-size: 14px;
    font-weight: 400;
    
}

.information{
    width:70%;
    display: flex;
}

.footer-down{
    display: flex;
    justify-content: center;
}

.footer-contents{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.footer-inside{
    /* gap:60px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.column{
    display: grid;
    gap: 18px;
}

.company{
    font-size: 16px;
}

.compinfo{
    font-size: 13px;
    text-decoration: none;
    color:#737373;
}

.call{
    font-size: 13px;
    text-decoration: none;
    color:#737373;
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-phone:before{
    color:var(--primary-color);
    font-size: 22.81px; 
}

.location{
    font-size: 13px;
    text-decoration: none;
    color:#737373;
    display: flex;
    gap: 16px;
    align-items: center;
    line-height: 1.5;
    
}

.fa-location-dot:before{
    color:var(--primary-color);
    font-size: 22.81px;
}

.mail{
    font-size: 13px;
    text-decoration: none;
    color:#737373;
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-envelope:before{
    color:var(--primary-color);
    font-size: 22.81px;
}

.copyright{
    background-color: var(--footer-bg-color);  
}

.copyright-section{
    padding: 25px 0px 25px 0px;
}

.copyright-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.copyright-owner{
    color:#737373;
    font-size: 14px;
}

.social{
    display: flex;
    justify-content: center;
}

.all{
    background-color:var(--primary-bg-color);
}

.footer-bg{
    background-color: var(--primary-bg-color);
}

.footer-background{
    background-color: var(--footer-bg-color);
}

.background{
    background-color: var(--primary-bg-color);
}
.fa-arrow-right:before{
    color:white;
}
.more{
    border: none;
    padding-left: 0px;
}

.border{
    padding:15px 25px;
}

.borderless{
    background: none;
    color:var(--primary-color);
    font-weight: 700;
}

.nobg{
    border-radius: 5px;
    background-color:transparent;
    color: var(--primary-color);
    font-size: 14px;
    border: 1px solid var(--primary-color);
    padding: 15px 40px;
}

.container-xl{
    max-width:1230px;
    margin:auto;
}

.button-ln{
    gap:5px;
    display:flex;
    font-size: 14px;
    align-items: center;
}


.fa-greater-than::before{
    color:var(--primary-color);
}

body{
    margin:0;
    padding:0;
}

.section-gap{
    padding:80px 0px;
}

.txt-color{
    color:var(--primary-color); 
    font-size:16px;
}
.dark-txt{
    font-weight: 400px; 
    font-size: 20px; 
    color:#737373;
}

.material-symbols-outlined{
    color:var(--secondary-color);
}

/* .rating material-symbols-outlined{

} */

.icon-download span{
    color:#737373
}

.x span{
    color:var(--primary-color);
}

.y span{
    color:#F69B25;
}

.z span{
    color:#E77C40;
}

.lr-btn span{
    color:var(--primary-color);
}
.star-icon span{
    color: #F3CD03;
}

.position-relative{
    position: relative;
}

.greydollor{
    max-width: 100px;
    overflow: hidden;
}

.link span{
    color:var(--primary-color);
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

.review-content{
    width:100%;
    row-gap: 100px;
    display: flex;
    flex-direction: column;
}

.card-icon{
    background-color: var(--primary-color);
    padding: 24px 19px;
    border-radius:10px;
}

.fa-heart-pulse {
    color:white;
    font-size: 30px;
}
.fa-stethoscope{
    color: white;
    font-size: 30px;
}
.icon-gap{
    gap: 7px;
}
.fa-caret-down{
    font-size: 15px;
}
.logo{
    font-size: 24px;
}
.menu a{
    color:#737373;
}
.dropdown{
    top: 50px;
    left:120px;
    /* display:none; */
    flex-direction: column;
    position: absolute;
    padding-inline-start: 0;
    
}
.dropdown-sub{
    display:flex;
    flex-direction: column;
    position: absolute;
    display: none;
    padding-inline-start: 0;
}
.fa-caret-down{
    transition: transform .5s;
}
.products{
    padding:15px;
    background-color: #FFFFFF;
    color:var(--primary-color);
}
.dropdown-sub{
    left: 128px;
    /* padding: 15px; */
    top: 100px;
    min-width: 152px;
}
.dropdown{
    display: none;
}
.dropdown li:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
    transition: 0.3s;
}
.sub-dropdown{
    gap: 7px;
    display: flex;
    align-items: center;
    
}
.fa-xmark{
    rotate:45deg;
    transition: transform .5s;
    font-size: 15px;
}


.dropdown-sub:hover{
    display: flex;
}
.menu span{
    display:none;
}
/* .emp-img{
    width:100%;
} */
.relative{
    position: relative;
}
/* #menu-product{
    display: none;
} */
.menu-icon div{
    height: 3px;
    width: 25px;
    background-color: #252B42;
    display: none;
}

#menu-toggle{
    display: none;
}
/* .menu-icon{
    display: flex;
    flex-direction: column;
    gap:5px;
} */
#menu-product{
    display: none;
}
.menu-label{
    display: flex;
    align-items:center;
    gap:5px;
}